body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Exo", sans-serif;
}

section {
  padding-top: 8rem;
}

.text-flow {
  color: #40407a;
  font-family: "Exo";
  font-weight: 700;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 992px) {
  .text-flow {
    font-size: 2.5em;
  }
}

.flow-wave {
  max-width: 100%;
  height: auto;
  width: 100%;
}

.navbar {
  background-color: #ffffff;
  -webkit-transition: all 600ms cubic-bezier(0.25, 0.1, 0.25, 1);
  -moz-transition: all 600ms cubic-bezier(0.25, 0.1, 0.25, 1);
  -o-transition: all 600ms cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: all 600ms cubic-bezier(0.25, 0.1, 0.25, 1);
}
@media screen and (min-width: 992px) {
  .navbar {
    background-color: transparent;
  }
}
@media screen and (min-width: 992px) {
  .navbar .navbar-brand {
    display: none;
  }
}
.navbar .navbar-brand img {
  width: 75%;
}
.navbar .navbar-nav {
  margin-right: auto;
  margin-left: auto;
}
.navbar .nav-link {
  color: #40407a;
  text-transform: uppercase;
  font-weight: 700;
}
@media screen and (min-width: 992px) {
  .navbar .nav-link {
    color: #ffffff;
  }
  .navbar .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
  }
}
.navbar i {
  color: #40407a;
}

.navbar-flow {
  background-color: #ffffff;
}
.navbar-flow .navbar-brand {
  display: block;
}
.navbar-flow .navbar-nav {
  margin-left: auto;
  margin-right: 0;
}
.navbar-flow .nav-link {
  color: #40407a;
}
.navbar-flow .nav-link:hover {
  color: rgba(64, 64, 122, 0.75);
}

header {
  background-image: linear-gradient(to bottom, #2c2c54, #706fd3);
  padding-top: 8rem;
}
header .header-img {
  padding: 5rem 0;
  text-align: center;
}
@media screen and (min-width: 992px) {
  header .header-img {
    padding: 10rem 0;
  }
}
header .header-img img {
  width: 80%;
}

.our-flow {
  padding-top: 0;
}
.our-flow p {
  font-size: 1.3em;
  line-height: 1.75rem;
  margin-bottom: 2rem;
}
.our-flow .image-logo {
  width: 45%;
}
@media screen and (min-width: 768px) {
  .our-flow .image-logo {
    width: 15%;
  }
}

.flowteam {
  padding-bottom: 0;
}
.flowteam img {
  border-radius: 50%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.flowteam .social a {
  color: #ffffff;
  display: inline-block;
  font-weight: 500;
  margin: 0 10px;
}
.flowteam .social a:hover {
  color: rgba(255, 255, 255, 0.75);
}
.flowteam .card {
  border: none;
  margin-bottom: 3rem;
}
@media screen and (min-width: 1200px) {
  .flowteam .card {
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
  }
}
.flowteam .card .card-title {
  margin-top: 1rem;
}
.flowteam .card .card-text {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.65);
}
.flowteam .card-body {
  background-image: linear-gradient(to bottom, #40407a, #706fd3);
  border-radius: 1rem;
  color: #ffffff;
  text-align: center;
  -webkit-box-shadow: 6px 5px 13px 2px rgba(50, 50, 50, 0.59);
  -moz-box-shadow: 6px 5px 13px 2px rgba(50, 50, 50, 0.59);
  box-shadow: 6px 5px 13px 2px rgba(50, 50, 50, 0.59);
}

.contact {
  background-image: linear-gradient(to top, #2c2c54, #706fd3);
  padding: 0;
}
.contact .social {
  margin: 2rem 0;
}
.contact .social a {
  color: #ffffff;
  display: inline-block;
  font-weight: 500;
  margin: 0 0.5rem;
  -webkit-transition: all 600ms cubic-bezier(0.25, 0.1, 0.25, 1);
  -moz-transition: all 600ms cubic-bezier(0.25, 0.1, 0.25, 1);
  -o-transition: all 600ms cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: all 600ms cubic-bezier(0.25, 0.1, 0.25, 1);
}
.contact .social a:hover {
  color: transparent;
}
.contact .social .icon {
  color: #40407a;
  font-size: 1.2em;
}
.contact .social .icon:hover {
  color: #ffffff;
}
.contact .text-flow {
  margin-top: 3rem;
  color: #ffffff;
}
@media screen and (min-width: 992px) {
  .contact .text-flow {
    letter-spacing: 0.25rem;
    font-size: 3em;
  }
}

.bottom {
  padding-top: 1rem;
  text-align: center;
}

footer {
  padding-top: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
footer .text {
  text-align: center;
}

/*# sourceMappingURL=flowcorp.css.map */
