body,
html {
    width: 100%;
    height: 100%;
}

body {
    font-family: $font, sans-serif;
}

section {

    padding: {
        top: 3rem;
        bottom: 3rem;
    }
}

.text-flow {
    color: $normalColor;
    font: {
        family: $font;
        weight: 700;
        size: 2.5em;
    }
    text: {
        align: center;
        transform: uppercase;
    }
}