.contact {
    
    background-image: linear-gradient(to top, $darkColor, $lightColor);
    padding: 0;

    .text-flow {
        margin-top: 3rem;
        color: #ffffff;
        font-size: 3em;
        letter-spacing: .25rem;
    }

    img {
        width: 100%;
    }
}