.contact {

	background-image: linear-gradient(to top, $darkColor, $lightColor);
	padding: 0;

	.social {
		margin: 2rem 0;

		a {
			color: #ffffff;
			display: inline-block;
			font-weight: 500;
			margin: 0 .5rem;

			@media #{$lg} {
				@include transition;
				
				&:hover {
					color: transparent;
				}
			}
		}

		.fa-size {
			font-size: 2em;
			
			@media #{$sm} {
				font-size: 3em;
			}

			@media #{$lg} {
				font-size: 5em;
			}
		}

		.icon {
			color: $normalColor;
			font-size: 1.2em;

			@media #{$lg} {
				&:hover {
					color: #ffffff;
				}
			}
		}
	}

	.text-flow {
		margin-top: 3rem;
		color: #ffffff;

		@media #{$lg} {
			letter-spacing: .25rem;
			font-size: 3em;
		}
	}
}