header {

    background-image: linear-gradient(to bottom, $darkColor, $lightColor);
    padding-top: 8rem;

    .header-img {
        padding: 5rem 0;
        text-align: center;

        @media #{$lg} {
            padding: 10rem 0;
        }

        img {
            width: 80%;
        }
    }
}