.navbar {

    @include transition;

    .navbar-brand {
        display: none;

        img {
            width: 75%;
        }
    }

    .navbar-nav {
        margin-right: auto;
        margin-left: auto;
    }

    .nav-link {
        color: #ffffff;
        text-transform: uppercase;

        &:hover {
            color: rgba($color: #ffffff, $alpha: .75);
        }
    }

}

.navbar-flow {

    background-color: #ffffff;

    .navbar-brand {
        display: block;
    }

    .navbar-nav {
        margin-left: auto;
        margin-right: 0;
    }

    .nav-link {
        color: $normalColor;

        &:hover {
            color: rgba($normalColor, $alpha: .75);
        }
    }
}