section{
    .text-flow{
        color: #40407a; 
        font-family: exo; 
        font-weight: bold; 
        font-size: 2em;
    }

    p{
        font-size: 1.3em;
        line-height: 1.75rem;
        margin-bottom: 2rem;
    }

    .image-logo{
        width: 15%;
    }
}