.about {

    .card {
        background-color: $primaryColor;
        border-radius: 1.5rem;

        @media #{$sm} {
            & {
                max-width: 19rem;
            }
        }
    }

    .card-header {
        border: none;
        text-align: center;

        h2 {
            margin-bottom: 0;
        }
    }

    .card-body {
        padding: {
            top: .5rem;
            bottom: 2rem;
        }

        min-height: 18rem;
    }

    .card-text {
        text-align: justify;
    }
}